a {
    text-decoration: none;
}
#content{
    max-width: 100%;
    margin: 0 auto;
}
header {
    background-color: #984447;
    display: grid;
    width: 100%;
    grid-template-rows: 280px;
    grid-template-columns: 1fr 1fr 1fr
    
}
#logo{
    padding-left: 15px;
    align-self: center;
    transform: scale(0.5);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-align: center;
    font-size: 30px;
    color: #deb841;
    text-decoration: none;
    font-family: Garamond, Georgia;
    padding: 10px;
}
nav a:hover{
    background-color: #deb841;
    color: #0081a7;
}
body{
    background-color: #4c2a85;
    margin: 0;
    padding: 0;
    width: 100%;
}
#hero{
    display: grid;
    grid-template-rows: 275px 275px 296px;
    grid-template-columns: 400px 400px 600px 200px;
}
#hero section{
    grid-row: 2;
    grid-column: 3;
    text-align: center;
    font-size: x-large;
    color: black;
}
main p{
    margin: 40px;
    color: #deb841;
    font-size: 26px;
    text-align: left;
    align-items: center;
}
#unfinished{
    align-items: center;
    width: 100px;
    margin: 0;
    padding: 0;
}
footer{
    background-color: #984447;
    margin-top: 100px;
    padding-top: 35px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}
footer p, footer a{
    color: #deb841;
    padding: 10px;
}
footer a:hover{
    color: #0081a7;
    background-color: #deb841;
}
#site-plan:hover{
    color: #0081a7;
    background-color: #deb841;
}
#contact:hover{
    background-color: #deb841;
}
/* Gallery */
#pg2logo{
    padding-left: 15px;
    align-self: center;
    transform: scale(0.5);
}
#title{
    color: #deb841;
    font-size: x-large;
    text-align: center;
    margin: 0;
    padding: 0;
}
.gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "p1 anubis" "giant p2";
}
#p1, #p2{
    background-color: #984447;
    padding: 15px;
    margin: 0;
}
#anubis{
    grid-area: anubis;

}
#anubis-img{
    display: flex;
    height: 100%;
}
#giant-img{
    height: 100%;
    grid-area: giant;
}
#p2{
    grid-area: p2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#p1{
    grid-area: p1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#grid2_container{
    display: flex;
}
#grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    width: 100%;
}
#grid2>img{
    justify-self: center;
}
#pic1{
    grid-column: 1/2;
    grid-row: 1/2;
}
#pic2{
    grid-column: 2/3;
    grid-row: 1/2;
    
}
#pic3{
    grid-column: 3/4;
    grid-row: 1/2;
}
#pic4{
    grid-column: 1/2;
    grid-row: 2/3;
}
#pic5{
    grid-column: 2/3;
    grid-row: 2/3;
}
#pic6{
    grid-column: 3/4;
    grid-row: 2/3;
}