a {
    text-decoration: none;
}

header {
    background-color: #984447;
    display: grid;
    width: 100%;
    grid-template-rows: 280px;
    grid-template-columns: 1fr 1fr 1fr
}
#logo{
    padding-left: 15px;
    align-self: center;
    transform: scale(0.5);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-align: center;
    font-size: 30px;
    color: #deb841;
    text-decoration: none;
    font-family: Garamond, Georgia;
    padding: 10px;
    border-radius: 5px;
}
.links:hover{
    background-color: #deb841;
    color: #0081a7;
}
body{
    background-color: #4c2a85;
    margin: 0;
    padding: 0;
    width: 100%;
}
main p{
    margin: 40px;
    color: #deb841;
    font-size: 26px;
    text-align: left;
    align-items: center;
}
footer{
    background-color: #984447;
    margin-top: 100px;
    padding-top: 35px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}
footer p, footer a{
    color: #deb841;
    padding: 10px;
    border-radius: 5px;
}
footer a:hover{
    color: #0081a7;
    background-color: #deb841;
}
#site-plan:hover{
    color: #0081a7;
    background-color: #deb841;
}
#contact:hover{
    background-color: #deb841;
}
h2{
    color: #deb841;
    font-size: x-large;
    text-align: center;
    margin: 0;
    padding: 0;
}
.shadow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
#pic1{
    grid-column: 1/2;
    justify-self: center;
    margin-bottom: 25px;
    border-radius: 10px;
}
#pic2{
    grid-column: 2/3;
    justify-self: center;
    margin-bottom: 25px;
    border-radius: 10px;
}
#pic3{
    grid-column: 3/4;
    justify-self: center;
    margin-bottom: 30px;
    border-radius: 10px;
}
#title{
    color: #deb841;
    font-size: xx-large;
    text-align: center;
    margin: 0;
    padding: 0;
}
.sub-title{
    font-size: x-large;
}
.drybrush{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
#picture1{
    grid-column: 1/2;
    justify-self: center;
    border-radius: 10px;
}
p{
    background-color: #984447;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}



